<ul class="collection with-header">
  <li class="collection-header">
    <h4>To Do List</h4>
  </li>
  <li class="collection-item row valign-wrapper"
      *ngFor="let issue of issuesData; trackBy: trackByFn; let index = index">
    <div class="col s7">
      <span>{{ issue.name }}</span><br>
      <span>{{ issue.date | date:'medium' }}</span><br>
      <span>{{ issue.description }}</span>
    </div>
    <div class="col s3">
      <label>
        <input [checked]="issue.isChecked"
               (change)="updateIssueIsCheckedData(issue)"
               type="checkbox"/>
        <span>Mark as done</span>
      </label>
    </div>
    <div class="col s2">
      <button class="btn btn-floating"
              (click)="removeIssueData.emit(index)"
              type="button">
        <i class="material-icons">remove</i>
      </button>
    </div>
  </li>
</ul>
